<div id="hero" class="hero">
    <h1 include="components/typewriter.html" typewritermessages="['This is a test', 'And this is a test as well']">
    </h1>
</div>

<style>
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: calc(100vh - 90px);

        background: white;
    }

    .title {
        padding: 0 200px;

        text-align: center;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 14px;
        font-weight: normal;

        padding: 20px 150px;
    }
</style>

<script>
</script>