<div class="hero">{{
    let typewritermessages = ['{productName} is more than another Frontend Framework', 'Really'];
    
    (<h1 xsrc="components/typewriter.html"
    typewritermessages="{{typewritermessages}}"></h1>)
    }}</div>

<style>
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: calc(100vh - 90px);

        background: white;
    }

    .title {
        padding: 0 200px;

        text-align: center;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 14px;
        font-weight: normal;

        padding: 20px 150px;
    }
</style>

<script>
    let herocontent = ""

    setInterval(() => {
        herocontent += "a"
    }, 100)
</script>