<div>{{
    const TYPEWRITER_STATE_NOTHING = 0
    const TYPEWRITER_STATE_IDLE_START = 1
    const TYPEWRITER_STATE_WRITING = 2
    const TYPEWRITER_STATE_IDLE_END = 3
    const TYPEWRITER_STATE_DELETING = 4
    let typewriter = {
        content: '',
        state: TYPEWRITER_STATE_WRITING,
        target: "",
        i: 0,
        I: 0,
        setTarger: function () {
            try {
                this.target = typewritermessages[this.I];
                this.I++
                if (this.I >= typewritermessages.length) this.I = 0
            } catch {
                this.target = "Please enter some messages with the parameter 'typewritermessages'"
            }
        }
    }

    typewriter.setTarger()
    
    setInterval(() => {
        switch (typewriter.state) {
            case TYPEWRITER_STATE_IDLE_START:
                setTimeout(() => {
                    typewriter.state = TYPEWRITER_STATE_WRITING
                    typewriter.setTarger()
                }, 500)

                typewriter.state = TYPEWRITER_STATE_NOTHING
                break
            case TYPEWRITER_STATE_WRITING:
                if (typewriter.i < typewriter.target.length) {
                    typewriter.i++

                    typewriter.content = typewriter.target.substr(0, typewriter.i)
                } else {
                    typewriter.state = TYPEWRITER_STATE_IDLE_END
                }
                break
            case TYPEWRITER_STATE_IDLE_END:
                setTimeout(() => {
                    typewriter.state = TYPEWRITER_STATE_DELETING
                }, 2000)

                typewriter.state = TYPEWRITER_STATE_NOTHING
                break
            case TYPEWRITER_STATE_DELETING:
                if (typewriter.i > 0) {
                    typewriter.i--

                    typewriter.content = typewriter.target.substr(0, typewriter.i)
                } else {
                    typewriter.state = TYPEWRITER_STATE_IDLE_START
                }

                setTimeout(() => {
                    if (typewriter.i > 0) {
                        typewriter.i--

                        typewriter.content = typewriter.target.substr(0, typewriter.i)
                    } else {
                        typewriter.state = TYPEWRITER_STATE_IDLE_START
                    }
                }, 50)
                break
        }
    }, 100)

    (<span reacts-to="typewriter.content">{{ typewriter.content }}</span>)
    }}</div>

<script>

</script>

<style>
    div {
        position: relative;

        max-width: 100%;
        min-height: 1.5em;

        margin: 0 auto;
    }

    span {
        position: relative;
        width: max-content;
    }

    span::after {
        content: '';

        position: absolute;

        bottom: 4px;
        right: -10px;

        width: 3px;
        height: 1em;

        background: black;

        opacity: 1;
        animation: typewriterbaranimation 1s infinite;
        animation-timing-function: steps(1, end);
    }

    @keyframes typewriterbaranimation {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }
</style>